  .form-center {
    width:1800px;
    padding: 30px;
    margin:150px;
    margin-top: 80px;
    border-radius: 4px;
    color:rgb(22, 21, 21);
    font-family: Arial;
    font-size: 18px;
  }
  
  mat-form-field {
    margin-right: 12px;
  }
