
    <div class="card-body">
        <h1 class="text-center" style="font-size: xx-large; color: #900000;">Lista de clientes dados de baja </h1>
        &nbsp;
    </div>

      <app-tablec-baja></app-tablec-baja>


        <table class="table table-sm">
            <tbody>

                <tr align="center">
                    <button class="btn btn-primary" 
                        routerLink="/clientes/create">
                        <i class="fas fa-plus-circle"></i>
                        Agregar un nuevo cliente
                    </button>
                </tr>

                <tr>
                    <div class="alert alert-warning alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>¡Cuidado!</strong> Debido a problemas ocurridos, no se encuentran funcionales los paneles de confirmación. realize las distintas funciones con precaución
                    </div>     
                </tr>
     

                <!-- <app-infinite-scroll></app-infinite-scroll>-->
                
            </tbody>
        </table>


