<div class="card-body">
     <h1 class="text-center" style="font-size: xx-large; color: #006fff;">Lista de clientes </h1>
     &nbsp;

</div>

     <app-tablec> </app-tablec>

     <table class="table table-sm">
          <tbody>

              <tr align="center">
                  <button class="btn btn-primary" 
                      routerLink="/clientes/create">
                      <i class="fas fa-plus-circle"></i>
                      Agregar un nuevo cliente
                  </button>
              </tr>

              <tr>
                  <div class="alert alert-warning">
                      <button type="button" class="close" data-dismiss="alert">&times;</button>
                      <strong>¡Cuidado!</strong> Debido a problemas ocurridos, no se encuentran funcionales los paneles de confirmación. realize las distintas funciones con precaución
                  </div>     
              </tr>              
          </tbody>
      </table>
